body{
  background-color: #959D90;
}

header, footer {
  width: 100%;
  height: 10%;
  position: fixed;
  left: 0;
  color: #fff;
}
header {
  top: 0;
  background-color: #3C5759;
  text-align: right;
}
header a, span{
  margin-right: 20px;
}

/* Footer en altta sabitlenir */
footer {
  bottom: 0;
  background-color: #3C5759;
  text-align: center;
}

/* Grid kapsayıcısını ayarlama */
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* 2 birim genişliğinde ana içerik, 1 birim genişliğinde yan çubuk */
    gap: 20px; /* Elemanlar arasındaki boşluk */
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px;
  }
  
  /* Ana içerik */
  .main-content {
    background-color: #efece9;
    padding: 20px;
    border-radius: 8px;
  }
  
  /* Yan çubuk */
  .sidebar {
    background-color: #efece9;
    padding: 20px;
    border-radius: 8px;
  }
  
  /* Genişletilebilir içerik için temel ayarlar */
  .expandable-content {
    display: none; /* Başlangıçta gizli */
    padding-top: 10px;
  }
  
  .expandable-section button {
    display: block;
    width: 100%;
    text-align: left;
    background-color: #d0d5ce;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    margin: 0.5px;
  }
  
  .expandable-section button:hover {
    background-color: #3C5759;
  }
  
  /* Genişletilebilir içerik açıldığında gösterme */
  .expandable-section.active .expandable-content {
    display: block;
  }
  
  /* Responsive ayarları */
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr; /* Küçük ekranlarda tek sütun düzeni */
    }
  }